rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    match /heroes/{userId}/{heroId}/{filename} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if false;
    }

    match /stories/{userId}/{storyId}/{filename} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if false;
    }

    match /previews/{previewId}/{filename} {
      allow read: if true;
      allow write: if false;
    }

    match /uploads/{userId}/{filename} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if false;
    }
  }
}
